*{ box-sizing: border-box;}
html, body{ height: 100%;
background: rgb(224, 224, 224);}

@font-face {
    font-family: 'Monoid';
    src: url('../fonts/Monoid-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monoid';
    src: url('../fonts/Monoid-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}